section{
	width: 80%;
	margin: auto;
	background-color: #ddd; /*smooth gray*/
	border-radius: 10px 55px;
}


article{
	background-color: #ddf;	/*smooth blue*/
	border: solid #aad 1px; /*grey blue*/
	border-radius: 5px;
	width: 90%;
	margin: auto;
	font-family: "Verdana";
	font-size: 14px;
	margin-bottom: 10px;
}



h2,h3{
	position: relative;
	left: -1%;
	padding-left: 1%;
	width: 101%;
}

h2{
	text-align: center;
	background-color: #ccc; /*strong blue*/
	background-color: rgba(204, 204, 204, 0.7);
	border-radius: 2px 16px 2px 2px;
	top: 0.5em;
}

h3{
	background-color: #88AAEE; /*strong blue*/
	background-color: rgba(136, 170, 238, 0.7);
	border-radius: 2px 2px;
	
}

pre{
	padding: 2% 0 2% 0;
	color: white;
	background-color: black;
	width: 70%;
	margin-left: 10%;
	border-radius: 10px;
}
